.carousel-container {
    max-width: 400px;
    margin: auto;
}

.carousel-control-prev-icon,.carousel-control-next-icon {
    padding: 20px;
    background-color: black;
    border-radius: 50%; 
}
.carousel-control-prev:hover , .carousel-control-next:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.fade-in {
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    from {
        scale:0.8;
        /*transform: translateX(70%);*/
    }
    to {
        scale:1;
        /*transform: translateX(0);*/
    }
}

.carousel-inner { 
    transition: transform 0.5s ease;
}
.carousel-inner:hover{
    transform:scale(1.02);
}

