.footer {
    max-width: 75%;
    margin: 0 auto;
    color: grey;
    position: relative;
    z-index: 100;
    background-color: #1c1c1c; 
}

.footer h3 {
    color: lightgrey;
}

.small{
    color:rgb(70, 70, 70);
    font-size: 0.9rem;
}

