/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define a CSS animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to your gradient background */
.bg-gradient-spin {
    animation: rotate 5s linear infinite;
    /* Adjust the duration and timing function as needed */
}

@keyframes rainbow {

    0%,
    100% {
        color: royalblue;
    }

    14% {
        color: aquamarine;
    }

    28% {
        color: magenta;
    }

    42% {
        color: blueviolet;
    }

    57% {
        color: pink;
    }

    71% {
        color: plum;
    }

    85% {
        color: indigo;
    }
}

.animate-rainbow {
    animation: rainbow 9s infinite linear;
}

/*  this is for login starry night */

/* Animation for moving twinkling image to the left */
@keyframes moveTwinkleLeft {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-twinkle-back {
    animation: moveTwinkleLeft 50s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveCloudsRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-clouds {
    animation: moveCloudsRight 50s linear infinite; /* Adjust the duration as needed */
}