/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define a CSS animation */
@keyframes tw-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to your gradient background */
.tw-bg-gradient-spin {
    animation: tw-rotate 5s linear infinite;
    /* Adjust the duration and timing function as needed */
}

@keyframes tw-rainbow {

    0%,
    100% {
        color: royalblue;
    }

    14% {
        color: aquamarine;
    }

    28% {
        color: magenta;
    }

    42% {
        color: blueviolet;
    }

    57% {
        color: pink;
    }

    71% {
        color: plum;
    }

    85% {
        color: indigo;
    }
}

.tw-animate-rainbow {
    animation: tw-rainbow 9s infinite linear;
}

/*  this is for login starry night */

/* Animation for moving twinkling image to the left */
@keyframes tw-moveTwinkleLeft {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0; /* Adjust the percentage as needed */
    }
}

.tw-animate-move-twinkle-back {
    animation: tw-moveTwinkleLeft 50s linear infinite; /* Adjust the duration as needed */
}

@keyframes tw-moveCloudsRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0; /* Adjust the percentage as needed */
    }
}

.tw-animate-move-clouds {
    animation: tw-moveCloudsRight 50s linear infinite; /* Adjust the duration as needed */
}
#exclusive-container {
    width: 100%;
    height: 80pt;
}

#nav-row {
    background-image: url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg);
    box-shadow: 0 0 1.5rem #bc13fe, 0 0 1.5rem #bc13fe, inset 0 0 #bc13fe;
    animation: colorShift 15s infinite; /* Adjust the duration as needed */
}

@keyframes colorShift {
    0% {
        color: #482FF5;
        box-shadow: 0 0 1.1rem #482FF5, 0 0 1.1rem #482FF5, inset 0 0 #000000;
    }
    50% {
        color: #ff69b4; /* Pink color */
        box-shadow: 0 0 1.1rem #F555D4, 0 0 1.1rem #F555D4, inset 0 0 #000000;
    }
    100% {
        color: #482FF5; /* Back to purple color */
        box-shadow: 0 0 1.1rem #482FF5, 0 0 1.1rem #482FF5, inset 0 0 #000000;
    }
}

.nav-link{
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    text-decoration: none;
    color:aliceblue;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.nav-link:hover{
    color: #ca45ff;
}